/build-2ndProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-FirstProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-QuickSort-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-3rdProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-4thProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-5thProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-6htProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-7thProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-8thProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-9thProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-QuickSort-Desktop-Debug/

/build-1stProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-10thProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-11thProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-12thProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-13thProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-14hProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-15thProbelm-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-16thProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-14thProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-17thProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-18thProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-19thProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-20thProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-21thProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-22thProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-23thProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-24thProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-25thProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-26thProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-27thProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-28thProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-29thProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-30thProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-31thProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-32thProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-33thProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-34thProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-35thProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-36thProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-37thProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-38thProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-39thProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-40thProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-41thProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-42thProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-43thProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-44thProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-46thProblem-Desktop_Qt_5_11_1_MinGW_32bit-Debug/
/build-47thProblem-Desktop_Qt_5_12_11_MinGW_64_bit-Debug/
/build-48thProblem-Desktop_Qt_5_12_11_MinGW_64_bit-Debug/
/build-32thProblem-Desktop_Qt_5_12_11_MinGW_64_bit-Debug/
/build-49thProblem-Desktop_Qt_5_12_11_MinGW_64_bit-Debug/
/build-50thProblem-Desktop_Qt_5_12_11_MinGW_64_bit-Debug/
/build-51thProblem-Desktop_Qt_5_12_11_MinGW_64_bit-Debug/
/build-52thProblem-Desktop_Qt_5_12_11_MinGW_64_bit-Debug/
/build-53thProblem-Desktop_Qt_5_12_11_MinGW_64_bit-Debug/
/build-54thProblem-Desktop_Qt_5_12_11_MinGW_64_bit-Debug/
/build-55thProblem-Desktop_Qt_5_12_11_MinGW_64_bit-Debug/
/build-56thProblem-Desktop_Qt_5_12_11_MinGW_64_bit-Debug/
/build-6htProblem-Desktop_Qt_5_12_11_MinGW_64_bit-Debug/
/build-7thProblem-Desktop_Qt_5_12_11_MinGW_64_bit-Debug/
/build-27thProblem-Desktop_Qt_5_12_11_MinGW_64_bit-Debug/
/build-57thProblem-Desktop_Qt_5_12_11_MinGW_64_bit-Debug/
/build-58thProblem-Desktop_Qt_5_12_11_MinGW_64_bit-Debug/
/build-59thProblem-Desktop_Qt_5_12_11_MinGW_64_bit-Debug/
/build-61thProblem-Desktop_Qt_5_12_11_MinGW_64_bit-Debug/
/build-63thProblem-Desktop_Qt_5_12_11_MinGW_64_bit-Debug/
/build-64thProblem-Desktop_Qt_5_12_11_MinGW_64_bit-Debug/
/build-BinarySearch-Desktop_Qt_6_2_1_GCC_64bit-Debug/
/build-ExhaustiveSearch-Desktop_Qt_6_2_1_GCC_64bit-Debug/
/build-DivideAndConquer-Desktop_Qt_6_2_1_GCC_64bit-Debug/
/build-DynamicProgramming-Desktop_Qt_6_2_1_GCC_64bit-Debug/
/build-GraphPresent-Desktop_Qt_6_2_1_GCC_64bit-Debug/
/build-BinarySearchTree-Desktop_Qt_6_2_1_GCC_64bit-Debug/
/build-Greedy-Desktop_Qt_6_2_1_GCC_64bit-Debug/
/build-Heap-Desktop_Qt_6_2_1_GCC_64bit-Debug/
/build-BFS-Desktop_Qt_6_2_1_GCC_64bit-Debug/
/build-DFS-Desktop_Qt_6_2_1_GCC_64bit-Debug/
/build-CodeUnderstanding-Desktop_Qt_6_2_1_GCC_64bit-Debug/
/build-ProblemSolving-Desktop_Qt_6_2_1_GCC_64bit-Debug/
/build-ExhaustiveSearch-Desktop-Debug/
/CodingCompetencySourceCode.pro.user
